/* Custom CSS
-------------------------*/
@font-face {
    font-family: 'Open Sans';
    src: url('[[font:theme|opensans-regular.eot]]') format("embedded-opentype"), url('[[font:theme|opensans-regular.woff]]') format("woff"), url('[[font:theme|opensans-regular.ttf]]') format("truetype"), url('[[font:theme|opensans-regular.svg#OpenSansRegular]]') format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('[[font:theme|opensans-light.eot]]') format("embedded-opentype"), url('[[font:theme|opensans-light.woff]]') format("woff"), url('[[font:theme|opensans-light.ttf]]') format("truetype"), url('[[font:theme|opensans-light.svg#OpenSansLight]]') format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('[[font:theme|opensans-semibold.eot]]') format("embedded-opentype"), url('[[font:theme|opensans-semibold.woff]]') format("woff"), url('[[font:theme|opensans-semibold.ttf]]') format("truetype"), url('[[font:theme|opensans-semibold.svg#OpenSansSemibold]]') format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('[[font:theme|opensans-bold.eot]]') format("embedded-opentype"), url('[[font:theme|opensans-bold.woff]]') format("woff"), url('[[font:theme|opensans-bold.ttf]]') format("truetype"), url('[[font:theme|opensans-bold.svg#OpenSansBold]]') format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('[[font:theme|opensans-italic.eot]]') format("embedded-opentype"), url('[[font:theme|opensans-italic.woff]]') format("woff"), url('[[font:theme|opensans-italic.ttf]]') format("truetype"), url('[[font:theme|opensans-italic.svg#OpenSansItalic]]') format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('[[font:theme|opensans-lightitalic.eot]]') format("embedded-opentype"), url('[[font:theme|opensans-lightitalic.woff]]') format("woff"), url('[[font:theme|opensans-lightitalic.ttf]]') format("truetype"), url('[[font:theme|opensans-lightitalic.svg#OpenSansLightItalic]]') format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('[[font:theme|opensans-semibolditalic.eot]]') format("embedded-opentype"), url('[[font:theme|opensans-semibolditalic.woff]]') format("woff"), url('[[font:theme|opensans-semibolditalic.ttf]]') format("truetype"), url('[[font:theme|opensans-italic.svg#OpenSansSemiboldItalic]]') format("svg");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('[[font:theme|opensans-bolditalic.eot]]') format("embedded-opentype"), url('[[font:theme|opensans-bolditalic.woff]]') format("woff"), url('[[font:theme|opensans-bolditalic.ttf]]') format("truetype"), url('[[font:theme|opensans-bolditalic.svg#OpenSansBoldItalic]]') format("svg");
    font-weight: bold;
    font-style: italic;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


a:hover {
    text-decoration: none;
}

.container-fluid {
    max-width: none;
}

#page.container-fluid {
    margin-top: 1em;
}

nav.navbar-inner .headermain h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px 0 0 0;
    padding-right: 15px;
}

.env_dev nav.navbar-inner .headermain h1 {
    color: #ffa500;
}

.env_pre nav.navbar-inner .headermain h1 {
    color: #56b81d;
}

.navbar .btn.btn-navbar {
    display: none;
}

.navbar .count-container {
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-size: 11px;
}

div.logo {
    background: url([[setting:logo]]) 0 0 no-repeat;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

img.small-logo {
    float: left;
    height: 35px;
    margin: 3px 10px 3px 0;
}

@media (max-width: 767px) {
    img.small-logo {
        margin: 3px;
    }
}

@media (max-width: 480px) {
    .navbar img.small-logo {
        max-width: 150px;
    }
    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
}

.navbar .navbar-text{
    line-height: 1em;
}

.navbar-fixed-top .navbar-inner {
 border-width: 0;
}

.navbar-inner .pull-right {
    margin-top: 4px;
}

.navbar .logininfo a {
    color: #fff;
}

.navbar .logininfo {
    text-align: right;
}

.breadcrumb-nav > nav ul {
    background-color: #F5F5F5;
    padding: 0.5em 0.5em;
    border-radius: 6px;
}

.breadcrumb-nav .sep {
    font-size: 0.8em;
    color: #999;
}

.block {
    border-top: 2px solid #009CDA;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 0 0 0;
    padding: 0;
    background-color: transparent;
}

.block .header .title h2 {
    background-color: #F5F5F5;
    color: #000;
}

#page-mod-forum-view .replies .unread,
.forumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: #c4e4f8;
}

.forumpost.post_favourite .row.header,
.path-course-view .post_favourite,
span.post_favourite {
    background-color: #ffc;
}

span.iconfav,
span.iconattach {
    float: right;
    font-weight: bold;
}

.postfav,
.forumfavouritelink {
    margin-left: 1em;
}

.forum_toggle_favourites a {
    vertical-align: middle;
}

.forumhidefavouritelink {
    display: none;
}

nav.navbar-inner h1 {
    color: #FFFFFF;
    font-size: 1.6em;
    margin: 0;
    text-align: right;
}

header.navbar .nav > li {
    float: none;
}

header .nav-collapse.secure .nav.pull-right{
    padding-top: 10px;
}

header .nav-collapse.secure li {
    color: #ddd;
}

header .popover-region-notifications,
header .popover-region-mail,
header .popover-region-messages {
    margin-top: 9px;
}

.usermenu {
    margin-top: 9px;
}

.usermenu .login a,
.usermenu .login a:hover,
.usermenu .login a:focus {
    color: #ffffff;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner, .navbar-inner {
    background-color: #000;
    background-image: -moz-linear-gradient(top, #444, #000);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#000));
    background-image: -webkit-linear-gradient(top, #444, #000);
    background-image: -o-linear-gradient(top, #444, #000);
    background-image: linear-gradient(to bottom,#444,#000);
    border-bottom-color: #009cda;
    border-width: 0 0 5px 0;

    /* IE8-9 gradient filter */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000', GradientType=0);
}

header.env_dev .navbar-fixed-top .navbar-inner, header.env_dev .navbar-static-top .navbar-inner, header.env_dev .navbar-inner {
    border-bottom-color: #ffa500;
}

header.env_pre .navbar-fixed-top .navbar-inner, header.env_pre .navbar-static-top .navbar-inner, header.env_pre .navbar-inner {
    border-bottom-color: #56b81d;
}

.usermenu .moodle-actionmenu .toggle-display {
    color: #ddd;
}

.usermenu .moodle-actionmenu .toggle-display:hover {
    color: #fff;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret:hover {
    border-top-color: #fff;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    border-top-color: #ddd;
}

.jsenabled .usermenu .container-fluid .moodle-actionmenu.show ul.menu a:hover {
    background-color: #005388;
    background-image: -moz-linear-gradient(top, #009cda, #005388);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#009cda),to(#005388));
    background-image: -webkit-linear-gradient(top, #009cda, #005388);
    background-image: -o-linear-gradient(top, #009cda, #005388);
    background-image: linear-gradient(to bottom, #009cda, #005388);
    /* IE8-9 gradient filter */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cda', endColorstr='#005388', GradientType=0);
}

.avatar .userpicture {
    border-radius: 50%;
}

#page-header h1 {
    margin-top: 0.5em;
}

.jsenabled .usermenu .moodle-actionmenu.show {
    background-color: transparent;
}

.jsenabled .usermenu .moodle-actionmenu > .menubar {
    margin: 0 0 2px;
}

.course-content .main {
    background: none repeat scroll 0% 0% #F7F5F1;
}

.course-content ul.topics li.section.current,
.course-content ul.weeks li.section.current {
    background-color: #C4E4F8;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
    background: none repeat scroll 0% 0% #F7F5F1;
    padding-bottom: 0;
}

.course-content ul.topics li.section .content,
.course-content ul.weeks li.section .content {
    background: none repeat scroll 0% 0% #fff;
}

.course-content ul li.section.main {
    border: 1px solid #DDD;
}

.course-content ul li.section.main.current {
    border: 1px solid #59abe3;
}

.course-content ul.topics li.section .content,
.course-content ul.weeks li.section .content {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
}

.course-content .content h3.section-title {
    font-size: 1.25em;
}

.section .mod-restriction {
    display: flex;
}

.section .mod-restriction.mod-restriction-col {
    flex-direction: column;
}

.editing .mod-restriction {
    display: block;
}

.section .mod-restriction .availabilityinfo {
    margin-top: 0;
}

.section .mod-restriction .availabilityinfo .label-info {
    background-color: #999;
}

.section .activity .contentwithoutlink, .section .activity .activityinstance {
    min-width: 0;
}

.section .mod-indent-outer {
    width: 98%;
}

.editing .section .activity .activityinstance {
    padding-right: 0;
}

.section {
    margin: 0;
}

.section h3 {
    margin-top: 0;
}

.course-content ul.section {
    margin: 0;
}

.coursebox {
    border: none;
    padding: 0 0 0 1em;
}

.block .content .coursebox h3,
.block .content .categorybox h3,
.block .header h2 {
    text-transform: none;
}

.block .content .categorybox h3 {
    color: #000;
    padding: 0;
}

.course-content .section .activity img.iconlarge {
    height: 20px;
    width: 20px;
}

/* Tables */

.path-mod-forum .forumheaderlist,
.generaltable {
    border-collapse: collapse;
}

.path-mod-forum .forumheaderlist th,
.generaltable .header {
    background: none repeat scroll 0% 0% #F3F3F3;
    border-bottom-width: 2px;
}

table.flexible tbody > tr:nth-child(2n+1) > td,
.generaltable tbody > tr:nth-child(2n+1) > td,
.path-mod-forum .forumheaderlist tbody > tr:nth-child(2n+1) > td {
    background: none repeat scroll 0% 0% transparent;
}

.path-mod-forum .forumheaderlist th,
.path-mod-forum .forumheaderlist td,
.generaltable thead:first-child tr:first-child th,
table.flexible thead:first-child tr:first-child th,
.generaltable th,
.generaltable td {
    border: 1px solid #ddd;
    padding: 0.5em;
}


.path-mod-forum .forumheaderlist tr:hover,
.generaltable tr:hover,
table.flexible tr:hover {
    background-color: #f5f5f5;
}

.path-mod-forum .forumheaderlist .discussion .picture {
    float: none;
}

.forumaddnew {
    float: left;
}

.forumfavourites {
    float: right;
}

.forumpost {
    background-color: transparent;
}

.forumpost .header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.forum_discussion_scheduled {
    margin: 0 0 2px 5px;
    width: 12px;
}

.forum_discussion_info_scheduled img {
    margin: 0 5px 2px 0;
    width: 12px;
}

.forum_discussion_info_scheduled span {
    margin-right: 1em;
}

#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
    margin-right: 10px;
    width: auto;
}

.forum .paging {
    clear: both;
}

.gradingform_rubric {
    overflow: visible;
}

.gradingform_rubric.review .criterion .levels .level .score {
    color: #bdbdbd;
}

.gradingform_rubric.review .criterion .levels .level.checked .score {
    color: #575;
}

.gradingform_rubric .criterion.even {
    background-color: transparent;
}

.gradingform_rubric .criterion .description {
    background-color: #f0f0f0;
    font-weight: normal;
}

.gradingform_rubric .criterion .remark {
    font-weight: bold;
}

.gradingform_rubric .criterion .levels .level.checked {
    border: none;
    border-left: 1px solid #ddd;
}

.gradingform_rubric .criterion .levels .level.last.checked {
    border-right: 1px solid #ddd;
}

.course-grades-error {
    margin-bottom: 1em;
}

.course-grades-error-button {
    text-align: center;
}

.que.multianswer sub span.feedbackspan,
.que.multianswer sup span.feedbackspan {
    line-height: 20px;
    font-size: 14px;
    max-width: none !important;
    width: 10em !important;
}

.initialbar .letter {
    min-width: 1.25em;
    border: 0;
}

.initialbar .initialbarlabel {
    width: 5em;
}

.resourcegeneral iframe {
    border: 1px solid rgba(200, 200, 200, .4);
}

@media (max-width:480px) {
    .course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width:768px) {
    .course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .course-content ul.topics li.section .left, .course-content ul.topics li.section .right {
        width: 20px;
    }
    .section .mod-restriction {
        display: block;
    }
}

@media print {
    .accordion .accordion-body {
        display: block;
        height: auto !important;
    }
    .nav-tabs > li > a {
        background: #fff;
        border: 1px solid #ddd;
        border-bottom: 1px solid transparent;
    }
    .tab-content {
        position: relative;
        counter-reset: numtab;
    }
    .tab-content .tab-pane {
        display: block;
        position: relative;
        opacity: 1;
        padding-top: 35px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
    }
    .tab-content .tab-pane:before {
        counter-increment: numtab;
        content:  counter(numtab);
        color: #000;
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 20px;
        font-weight: 600;
    }
}

.path-mod-assign [data-region="grading-navigation"] {
    box-sizing: border-box;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
