.bar-header {
    background-color: #009cda;
}

.bar-side-menu {
    background-color: #009cda;
}

.bar-content {
    background-color: #009cda;
}

.button.button-positive {
   border-color: #009cda;
   background-color: #009cda;
   color: #fff;
}

.item-divider {
  background-color: #009cda;
}
