{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
    @template mod_isardvdi/index_view

    This template will render info message.

    Variables required for this template:
    * level - Level alert
    * msg - Message to show

    Example context (json):
    {
        "level": "INFO",
        "msg": "This is a message"
    }

}}
<div id="mod-isardvdi-message-view" data-region="message_view" data-component="mod-isardvdi-message">

    <br>
    <br>

    <div class="alert alert-{{ level }} text-center" role="alert">
        {{ msg }}
    </div>

</div>